.articles {
    padding: 120px 0;

    @media screen and (max-width: 767px) {
        padding: 40px 0;

    }
    
    &__title {
        margin-bottom: 20px;
        font-size: 48px;
        line-height: 72px;
        font-weight: normal;
        text-align: center;
        color: $grey-dark;

        @media screen and (max-width: 767px) {
            font-size: 35px;
            line-height: 52px;
        }
    }

    &__subtitle {
        margin-bottom: 120px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        font-weight: normal;
        color: $grey;

        @media screen and (max-width: 767px) {
            margin-bottom: 50px;
            font-size: 20px;
            line-height: 28x;
        }
    }
}