.article {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: .5s ease-in-out;

    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .5s ease-in-out;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;
        color: $grey-light;
        text-align: center;
    }

    &__ph {
        margin-bottom: 43px;
        font-weight: normal;
        font-size: 17px;
        line-height: 27px;
        color: $grey-light;
        text-align: center;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.3);
        transform: translateY(-100%);
        transition: .5s ease-in-out;

        svg {
            width: 150px;
            height: 150px;
            fill: rgb(31, 90, 31);
        }
    }

    &:hover {
        .article__bg {
            transform: translateY(0);
        }
        .article__description {
            transform: translateY(100%);
        }
    }
}