html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button:focus,
input:focus {
	outline: transparent;
}

button {
	@include no-btn;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {	
	display: block;
	text-decoration: none;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.wrapper {
	width: 100%;
	background-color: $green;
	
	&--main {
		background-color: $grey-light;
	}

	&--footer {
		background-color: #181617;
	}
}

.container {
	max-width: 1440px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 120px;

	@media screen and (max-width: 1199px) {
		padding: 0 50px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 5%;
	}

}

.inner-bg {
	background-image: url(../img/fox-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}